<div class="title">
  <h1> Risotos </h1>
</div>

<div class="cardapio">


<figure>
    <blockquote class="blockquote">
      <h3>Risoto de Camarão com Bacon</h3>
    </blockquote>
    <figcaption class="blockquote-footer">
      Preço <cite title="Source Title">65.00</cite>
    </figcaption>
    <blockquote class="blockquote">
        <h3>Risoto de Filé Mignon com Gorgonzola</h3>
      </blockquote>
      <figcaption class="blockquote-footer">
        Preço <cite title="Source Title">65.00</cite>
      </figcaption>
      <blockquote class="blockquote">
        <h3>Risoto de Cogumelos</h3>
      </blockquote>
      <figcaption class="blockquote-footer">
        Preço <cite title="Source Title">65.00</cite>
      </figcaption>
      <blockquote class="blockquote">
        <h3>Risoto de Polvo</h3>
      </blockquote>
      <figcaption class="blockquote-footer">
        Preço <cite title="Source Title">65.00</cite>
      </figcaption>
      <blockquote class="blockquote">
        <h3>Risoto de Brie com Damascos</h3>
      </blockquote>
      <figcaption class="blockquote-footer">
        Preço <cite title="Source Title">55.00</cite>
      </figcaption>
      <blockquote class="blockquote">
        <h3>Risoto de Bacon e Gorgonzola com Abacaxi Caramelizado</h3>
      </blockquote>
      <figcaption class="blockquote-footer">
        Preço <cite title="Source Title">55.00</cite>
      </figcaption>

  </figure>


</div>