<%- include ("partials/header.ejs") %>
<body>
  <%- include ("partials/navbar.ejs") %>
  <div class="container">
 
        <div class="container-header">
            <br> 
            <h1>Risotteria DEFRøN'</h1>
            <br>

            <div class="card-group">
              <div class="card">
                <img class="card-img-top" src="IMG/mignon.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Risoto de Filé mignon com Gorgonzola.</h5>
                  <p class="card-text">O clássico da casa. Esse risoto acompanha deliciosas tiras de filé mignon preparadas no vinho tinto e finalizado com queijo gorgonzola.</p>
                  
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="IMG/camarao.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Risoto de Camarão com bacon.</h5>
                  <p class="card-text">Nosso incomparável risoto de camarão com pedaços de bacon defumado e finalizado com queijo grana padano.</p>
                 
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="IMG/cogumelos.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Risoto de Cogumelos.</h5>
                  <p class="card-text">Nosso delicioso risoto de shitake e shimeji salteados na manteiga e no molho shoyu.</p>
                 </div>
              </div>
            </div>
            
            <div class="card-group">
              <div class="card">
                <img class="card-img-top" src="IMG/bacongorgoabacaxi.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Risoto de Bacon com gorgonzola e Abacaxi.</h5>
                  <p class="card-text">Essa criação nossa dispensa. A perfeita definição de explosão de sabores, risoto feito de bacon e gorgonzola e finalizado com abacaxi caramelizado.</p>
                  
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="IMG/briedamascos.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Risoto de Brie com Damascos.</h5>
                  <p class="card-text">Para aqueles que não abrem mão de um doce, nosso risoto de brie com generosos pedaços de damascos para matar aquela vontade de doce.</p>
                 
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="IMG/polvo.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Risoto de Polvo.</h5>
                  <p class="card-text">Para os amantes do mar, aquele risoto que não se compara a nenhum outro em termos de sabor.</p>
                 </div>
              </div>
            </div>
                  
      
        
        </div>
    </div>
</body>
<%- include ("partials/footer.ejs") %>