<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/navbar.ejs") %>
    <div class="container">
            <h1> Muito Obrigado!</h1><hr>
        
            <br>
        <div class="card-body">
        <h3> Agradecemos seu pedido !</h3>
            <div class="card-body">

                <a class="btn btn-dark" href="/pedidos" role="button">Fazer outro pedido</a>

                <a class="btn btn-dark" href="/" role="button">Pagina Inicial</a>
            </div>
    
        </div>  
    </div>
</body>
<%- include ("partials/footer.ejs") %>